/* Setting up the transition background because why not???? */
body {
    animation: pulseBackground 40s infinite alternate;
    transition: background-color 1s;
    display: flex;
  }

  @keyframes pulseBackground {
    0% {
      background-color: #ff0000; /* Red */
    }
    5% {
      background-color: #ff8000; /* Orange */
    }
    10% {
      background-color: #ffff00; /* Yellow */
    }
    15% {
      background-color: #80ff00; /* Lime */
    }
    20% {
      background-color: #00ff00; /* Green */
    }
    25% {
      background-color: #00ff80; /* Teal */
    }
    30% {
      background-color: #00ffff; /* Aqua */
    }
    35% {
      background-color: #0080ff; /* Sky Blue */
    }
    40% {
      background-color: #0000ff; /* Blue */
    }
    45% {
      background-color: #8000ff; /* Purple */
    }
    50% {
      background-color: #ff00ff; /* Magenta */
    }
    55% {
      background-color: #ff0080; /* Pink */
    }
    60% {
      background-color: #ff6666; /* Coral */
    }
    65% {
      background-color: #ffcc66; /* Peach */
    }
    70% {
      background-color: #ffff66; /* Pale Yellow */
    }
    75% {
      background-color: #ccff66; /* Light Green */
    }
    80% {
      background-color: #66ff66; /* Mint */
    }
    85% {
      background-color: #66ffcc; /* Turquoise */
    }
    90% {
      background-color: #66ffff; /* Light Blue */
    }
    95% {
      background-color: #66ccff; /* Sky Blue */
    }
    100% {
      background-color: #6666ff; /* Royal Blue */
    }
  }
  
  .container {
    width: 90vh;
    height: 90vh;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50px;
  }

  .button, .refreshMemeButton, #goBackID, .refreshJokeButton, .refreshCatFactsButton {
    width: 30vh;
    height: 10vh;
    margin: 5%;
    border-radius: 50px;
    font-size: 3vh;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gallery img {
    flex: 1; /* Grow to fill available space */
    width: 30vh; /* Three items per row - gap */
    height: 30vh; /* Fixed height, or use 'auto' for natural height */
    object-fit: cover; /* Cover the container without losing aspect ratio */
  }

  .gallery p {
    font-size: 2vw;
    width: 60vh;    
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20%;
    margin-top: 20%;
    text-align: center;

  }


 
  
