html, body {
    height: 100%;
    margin: 0;
  }

body {

    background-image: url('assets/FF16_Crystalline_Dominion_Concept_Art.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
  }

  .ff-textbox {
    background: linear-gradient(to bottom, #4e4ecc, #3c3c99);
    color: #fff;
    padding: 30px; 
    border: 2px solid #fff; 
    border-radius: 8px; 
    font-family: 'Courier New', monospace; 
    font-size: 20px; 
    line-height: 1.5; 
    max-width: 400px; 
    margin: 20vh auto; 
  }