
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center the section */
  height: 100vh; /* Ensure the section covers the entire viewport height */
  margin: 0; /* Remove default body margin */
}
section {
  display:flex;
  /* background-color: rgba(12, 2, 24, 0.952); */
  color: whitesmoke;

}

section .weather {
 border: 1px solid #ccc;
 background-color: rgba(12, 2, 24, 0.952);
 border-radius: 5%;
 margin: 1px;
 flex: 1;
 padding:10px;
 text-align:center;
}

.weather span {
  font-weight: bold;
}

