body, html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #003a70;
}

input, button, textarea {
    border-radius: 10px;
}


input:hover, button:hover {
    background-color: #2980b9;
}
/* CONTAINER RULES */

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, aside, section {
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 1%;
}

/* HEADER RULES */

header {
    flex: 0 0 10%;
    background-color: snow;
    color: black;
    text-align: center;
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav p {
    text-decoration: none;
}

 /* These two lines make the checkbox and the label disappear when we are in desktop mode. */
 nav input[type="checkbox"],
 nav label {
   display: none;
 }

.main-content {
    display: flex;
    flex: 1;
}

.no-bullets 
{
    display: flex;
    list-style-type: none;
    flex-direction: row;
}

.no-bullets a{
    text-decoration: none;
    color: inherit;
}

.no-bullets li {
    margin-right: 10px; /* Add horizontal margin to create space between list items */
}

nav ul.no-bullets li:hover {
    position: relative;
  }

  nav ul.no-bullets li:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px; /* Height of the underline */
    background-color: #003a70; /* Color of the underline */
    bottom: -15px;
    left: 0;
  }

  .profile-icon img {
    height: 5vh;
  }

/* ASIDES CSS RULES */

aside {
    flex: 0 0 20%;
    background-color: snow;
    padding: 10px;
}

.skill-header {
    text-align: center;
    margin-bottom: 10%;
}
.inspirational-header {
    margin-top: 5px;
    text-align: center;
    margin-bottom: 10%;
}

.inspirational-post-list {
    border: 1px black solid;
    border-radius: 20px;
    background-color: white;
}

  /* SECTION CSS RULES */

  section {
    flex: 1;
    background-color: snow;
    padding: 10px;
}


  .job-title-and-location-forms {
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
    align-items: center;
    justify-content: space-around;
  }

  .job-spawning {
    height: 80%;
    width: 100%;
    margin: auto;
  }
  
  .post {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
  }
  
  .comment, .post div textarea {
    margin-top: 5px;
    border-top: 1px solid #eee;
    padding-top: 5px;
    margin-left: 3em;
  }
  
  .close-btn {
    display: flex;
    cursor: pointer;
    color: red;
    margin-left: 100%;

  }

  #post-list {
    padding: 10px;
    margin: auto;
    max-height: 90%;
    overflow-y: auto; /* Enable vertical scrollbar */
  }

  .post {
    margin: 10px;
    border-radius: 10px;
    background-color: white;
  }



  footer {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .sort-button {
    margin-right: 5%;

  }



   /* DARK MODE RULES */
    /* CSS code for dark mode */ 
.dark-mode {
    background-color: #333;
    color: #333;
    }
    
.dark-mode button, .dark-mode input, .dark-mode textarea {
    background-color: #333;
    color: white;
    }

  /* MEDIA QUERIES */

  @media (max-width: 767px) {
    aside {
        display: none;
    }

    input[type="checkbox"]:not(:checked) + ul {
        display: none;
    }

    nav {
        flex-direction: row;
    }

    /* Styling the menu icon, the checkbox stays hidden */
    nav label {
        display: flex;
        padding: 0.5em;
        line-height: 1.6em;
        align-self: left;
    }


    .no-bullets {
        flex-direction: column;
        margin-bottom: 0;
        text-align: right;
        padding: 0.5em;
        margin: 1%;
    }

.no-bullets a{
    text-decoration: none;
    color: inherit;
}

.no-bullets li {
    margin: 10px; /* Add horizontal margin to create space between list items */
}

nav ul.no-bullets li:hover {
    position: relative;
  }

  nav ul.no-bullets li:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px; /* Height of the underline */
    background-color: #003a70; /* Color of the underline */
    bottom: -15px;
    left: 0;
  }

  footer {
    flex-direction: column;
    justify-content: space-around;
  }

.sort-button, .search-container {
    margin: 1em;
}

}


    

 