body {
    background-image: url('https://res.cloudinary.com/jkeohan/image/upload/v1572105150/mars-selfie.jpg');
}



p {
  color: pink;
}

.blue {
    color:blue;
}

h1 {
    color:red;
  }

#red {
    color: red;
    font-size: 40px;
}

#green {
    color:green;
}

.med {
    font-size: 24px;
}