body {
    margin: 0;
    display: flex;
    height: 100vh;
}
/* Allows the lifter gif to take up the entire left side of screen */
.lifter {
    flex: 0 0 40%;
    height: 100%;
    width: 70%;
}

/* Setting up the right side of the screen with flex box and info as needed for everything. */
.right-section {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.portfolio-contents {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.portfolio-box {
    flex: 1; /* Each box takes equal width and height */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-right: 10px;
}

/* This is to set up the CSS for the images to appear on hovering over the disc golf names */
.tooltip {
    position: relative;
    margin: 10px; /* Add some margin for better spacing */
}

/* Style for the tooltip content (hidden by default) */
.tooltip .tooltip-content {
    visibility: hidden;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 4px;
    transition: visibility 0.2s ease-in-out;
}

/* Show the tooltip content on hover using JavaScript */
.tooltip:hover .tooltip-content {
   visibility: visible;
}

/* Style for the tooltip arrow */
.tooltip .arrow {
    position: absolute;
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    border-top-color: #fff; /* Set the color of the arrow to match the tooltip background */
    border-width: 6px;
    margin-left: -6px; /* Center the arrow horizontally */
  }

  /* To make sure the images doesn't skew the screen when it show up on screen */
img {
    height: 200px;
    width: 200px;
}

body ul li {
    margin: 10px;
}

