nav {
    background-color: #f0f0f0;
    padding: 10px 0;
    width: 80vh;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  
  li {
    margin-right: 20px;
  }
  
  li:last-child {
    margin-right: 0;
  }
  
  a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  a:hover {
    color: #555;
  }
  